<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="logger_path" value=".\Logfiles\" />
    <add key="MinutesToRun" value="60" />
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="EventHubConnectionString" value="Endpoint=sb://fxnightlyperfin.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=fakeKey=;TransportType=Amqp" />
    <add key="EventHubName" value="streamingatscale-24" />
    <add key="EventDelayMs" value="1" />
    <add key="EventsPerMessage" value="980" />
    <add key="EventType" value="Sensor" />
  </appSettings>
</configuration>